version: '3.7'
services:
  &app-service app: &app-service-template
    build:
      args:
        user: ilya
        uid: 1000
      context: ./docker/app/
      dockerfile: Dockerfile
    image: local
    container_name: local-app
    user: root
    hostname: *app-service
    restart: always
    working_dir: /var/www/local
    volumes:
      - ./src:/var/www/local:rw
      - ./docker/app/etc/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./docker/app/etc/php/php-fpm.conf:/usr/local/etc/php-fpm.d/www.conf
    depends_on:
      - mysql
    networks:
      - app-network
     
  &scheduler-service scheduler:
    <<: *app-service-template
    container_name: local-scheduler
    restart: always
    hostname: *scheduler-service
    command: php /var/www/local/artisan schedule:work
    networks:
      - app-network
     
  &mysqlname mysql:
    image: mysql:8.0
    container_name: local-mysql
    restart: always
    hostname: *mysqlname
    environment: 
      MYSQL_DATABASE: local
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: dev
      MYSQL_PASSWORD: 123
    networks:
      - app-network

  &mysqladmin adminer:
      image: adminer
      container_name: local-adminer
      restart: always
      hostname: *mysqladmin
      ports: 
        - 5454:8080
      networks:
        - app-network

  &nginxname nginx:
    image: nginx:1.17-alpine
    container_name: local-nginx
    restart: always
    hostname: *nginxname
    ports:
      - 8080:80
    volumes:
      - ./src:/var/www/local
      - ./docker/nginx:/etc/nginx/conf.d
      - ./logNginx:/var/log/nginx/
    networks:
      - app-network

  &nodename node:
    image: node:14.18-alpine3.14
    container_name: local-node
    restart: on-failure
    hostname: *nodename
    volumes:
      - ./src:/var/www/local:rw
    working_dir: /var/www/local
    networks:
    - app-network

networks:
  app-network:
    driver: bridge